//----------------------------------
//	BREAPOINTS
//----------------------------------

$tablet: 720px;
$mobile: 480px;



$profile-width: 700px;

//----------------------------------
//	FOOTER
//----------------------------------

$footer-heigth: 30px;

//----------------------------------
//	COLORS
//----------------------------------

$general-yellow: #cccc00;
$general-grey: #ccc;
$general-line-color: #eee;
$color-999: #999;
$color-666: #666;
$color-333: #333;

//----------------------------------
//	H1
//----------------------------------

$h1-font-size-desktop: 42px;
$h1-font-line-height-desktop: 120%;

$h1-font-size-tablet: 36px;
$h1-font-line-height-tablet: 120%;

$h1-font-size-mobile: 30px;
$h1-font-line-height-mobile: 100%;

//----------------------------------
//	H2
//----------------------------------

$h2-font-size-desktop: 28px;
$h2-font-line-height-desktop: 120%;

$h2-font-size-tablet: 26px;
$h2-font-line-height-tablet: 100%;

$h2-font-size-mobile: 24px;
$h2-font-line-height-mobile: 100%;

//----------------------------------
//	H3
//----------------------------------

$h3-font-size-desktop: 24px;
$h3-font-line-height-desktop: 120%;

$h3-font-size-tablet: 22px;
$h3-font-line-height-tablet: 100%;

$h3-font-size-mobile: 20px;
$h3-font-line-height-mobile: 100%;

//----------------------------------
//	H4
//----------------------------------

$h4-font-size-desktop: 20px;
$h4-font-line-height-desktop: 120%;

$h4-font-size-tablet: 18px;
$h4-font-line-height-tablet: 100%;

$h4-font-size-mobile: 18px;
$h4-font-line-height-mobile: 100%;

//----------------------------------
//	p
//----------------------------------

$p-font-family: 'Crimson Text', Georgia, serif;
$p-font-color: #666;
$p-font-size-desktop: 24px;
$p-font-line-height-desktop: 150%;

$p-font-size-tablet: 22px;
$p-font-line-height-tablet: 130%;

$p-font-size-mobile: 20px;
$p-font-line-height-mobile: 120%;

//----------------------------------
//	META
//----------------------------------

$meta-font-family: 'Crimson Text', Georgia, serif;
$meta-font-color: inherit;
$meta-font-weight: normal;

$meta-font-size-desktop: 20px;
$meta-font-line-height-desktop: 120%;

$meta-font-size-tablet: 19px;
$meta-font-line-height-tablet: 115%;

$meta-font-size-mobile: 18px;
$meta-font-line-height-mobile: 115%;

//----------------------------------
//	MICRO
//----------------------------------

$micro-font-family: 'Crimson Text', Georgia, serif;
$micro-font-color: #ccc;
$micro-font-weight: normal;

$micro-font-size-desktop: 16px;
$micro-font-line-height-desktop: 120%;

$micro-font-size-tablet: 15px;
$micro-font-line-height-tablet: 100%;

$micro-font-size-mobile: 14px;
$micro-font-line-height-mobile: 100%;

//----------------------------------
//	NANO
//----------------------------------

$nano-font-family: 'Crimson Text', Georgia, serif;
$nano-font-color: $color-999;
$nano-font-weight: normal;

$nano-font-size-desktop: 14px;
$nano-font-line-height-desktop: 120%;

$nano-font-size-tablet: 13px;
$nano-font-line-height-tablet: 100%;

$nano-font-size-mobile: 12px;
$nano-font-line-height-mobile: 100%;

//----------------------------------
//	LINK
//----------------------------------

$link-inactive-color: $general-grey;
$link-hover-color: $general-yellow;

//----------------------------------
//	PLACEHOLDERS
//----------------------------------

$input-font-family: 'Crimson Text', Georgia, serif;
$placeholder-font-color: #ccc;


//----------------------------------
//	PARAGRAPH SPACING
//----------------------------------

$paragraph-spacing-desktop : 35px;
$paragraph-spacing-tablet : 35px;
$paragraph-spacing-mobile : 35px;

//----------------------------------
//	CONTENT MAX WIDTH
//----------------------------------

$maxwidth:780px;

//produces a maxwidth of 780px, with padding.

$maxwidth-with-padding:810px;

$maxwidth-offset:810px;