* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

button.circle {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 0;
  font-size: 1.5em;
  font-weight: light;
  background-color: #8e8; }

input {
  display: block;
  font-size: 1.2em;
  padding: 0.5em;
  box-sizing: border-box;
  height: 3em;
  width: 9em;
  border: 1px solid #ccc;
  border-radius: 2px;
  outline: 0; }

input[type=text], input[type=password] {
  background-color: #fff;
  color: #222;
  cursor: text; }
  input[type=text]:focus, input[type=password]:focus {
    background-color: #efe; }

input[type=submit] {
  text-align: center;
  background: #6b6;
  border: 1px solid #6b6;
  color: #fff;
  border-radius: 2px; }

select {
  height: 3em;
  width: 9em;
  padding: 0.5em; }

.new-member-container {
  overflow: auto;
  background-color: #fdfdfd;
  padding: 2em 1em; }

.new-member-head {
  text-align: center; }
  .new-member-head a {
    float: left; }

.new-member-form {
  text-align: center;
  margin-top: 4em;
  margin-left: 25%; }
  .new-member-form input[type=text], .new-member-form select {
    float: left; }
  .new-member-form select {
    margin-left: 2em; }
  .new-member-form h1 {
    margin: 1em 0em; }
  .new-member-form .form-submit input {
    width: 7em;
    margin-right: auto;
    margin-left: auto; }
  .new-member-form .form-birthday {
    margin-right: 50%; }
  .new-member-form .form-two input[type=text] {
    width: 45%;
    margin-right: 5%; }
  .new-member-form .form-three input[type=text] {
    width: 30%;
    margin-right: 3.3%; }
  .new-member-form .form-short {
    margin-right: 66.6666%; }
    .new-member-form .form-short input[type=text] {
      width: 25%;
      margin-right: 12.5%; }
  .new-member-form .frame {
    margin-bottom: 1em; }
    .new-member-form .frame input[type=text] {
      margin-bottom: 1em; }

.login-form {
  margin-top: 15em;
  margin-left: 37.5%; }
  .login-form input[type=text], .login-form input[type=password] {
    margin-bottom: 0.5em; }
  .login-form input[type=submit] {
    float: right;
    margin-right: 33.333%; }

.frame {
  max-width: 100%; }
  .frame:after {
    content: "";
    display: table;
    clear: both; }

.bit25 {
  width: 25%; }

.bit75 {
  width: 75%; }

.bit50 {
  width: 50%; }

.bit1 {
  width: 100%; }

.bit2 {
  width: 50%; }

.bit3 {
  width: 33.33333%; }

.bit4 {
  width: 25%; }

.left {
  float: left; }

[class*='bit'] {
  float: left; }

@media (max-width: 30em) {
  .bit-1 {
    width: 100%; }
  .bit-2 {
    width: 100%; }
  .bit-3 {
    width: 100%; }
  .bit-4 {
    width: 100%; } }

@media (min-width: 30em) and (max-width: 50em) {
  .bit-4, .bit-6, .bit-8, .bit-10, .bit-12 {
    width: 50%; }
  .bit-1, .bit-2, .bit-3, .bit-5, .bit-7, .bit-9, .bit-11 {
    width: 100%; } }

@media (min-width: 50em) and (max-width: 68.75em) {
  .bit-2, .bit-7 {
    width: 100%; }
  .bit-4, .bit-8, .bit-10, .bit-12 {
    width: 50%; } }
