<div class="full-screen-fixed">
    <nav></nav>
    <div class="overall-container-member">
        <div class="search-container">
            <select>
                <option value ="two" selected>Active</option>
                <option value ="three">Deleted</option>
            </select>
            <input placeholder="Membership number" class="input-member" id="search-field-id">
            <input placeholder="Email address" class="input-member" id="search-field-email">
            <input placeholder="Surname" class="input-member" id="search-field-lastName">
            <button id="search-button" class="button-two member">Search</button>
        </div>

        <div id="search-container-content">
        </div>
    </div>
</div>