<div class="full-screen-fixed">
    <!-- Navbar here -->
    <ul class="navigation">
        <li><a href="/admin">Home</a></li>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/addmember">Add member</a></li>
        <li><a href="/maintenance">Date maintenance</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Emails</a></li>
    </ul>
    <div class="overall-container-member">
        <div style="maring:auto;text-align:center;"
            class="section-label"
        >
            <h1>Search member</h1>
        </div>
    </div>
</div>
