<div class="container-large">

    <div class="header">
        <h1>Administration</h1>
    </div>

    <div style="margin-bottom:20px;margin-top:20px;">
        <a href="/addmember">
            <button id="save_person" class="btn-secondary no-float" type="submit">Add new member</button>
        </a>
    </div>

    <form style="display: block;overflow: auto;" action="/members/search" method="POST">
        <div style="float:left;width:20%;padding-right:2%;">
            <select class="no-margin use-max btn-standard-width" name="status">
                <option style="color:#ccc;" class="meta" value="" disabled="" selected="">Select one</option>
                <option value="active">Active</option>
                <option value="deleted">Deleted</option>
            </select>
        </div>

        <div style="float:left;width:60%;">
            <input type="text" name="query" placeholder="Enter member number or name here" id="search-field">
        </div>

        <div style="float:right;width:20%;padding-left:2%;">
            <!-- <input type="submit" value="search" id="search-button"> -->
            <button id="search-button" class="btn-primary" type="submit">Search</button>
        </div>
    </form>
</div>