<div class="admin-home">

    <div class="header">
        <h1>Administration</h1>
    </div>


    <div class="frame bit50 admin-controls">

        <a href="/addmember"><input type="button" value="Add Member" class="bit1"></a>

        <div class="frame bit1">
            <form action="/search" method="POST">
                <input type="text" placeholder="enter member number or name here">
                <input type="submit" value="search">
            </form>

        </div>
    </div>

</div>
