<div class="new-member-container">

    <div class="new-member-head">
        <a href="/admin">BACK</a>
        <h1>New Member Form</h1>
    </div>

    <div class="new-member-form bit50 frame">


        {{#member}}
        <form action="/members/{{id}}/edit" method="post">
            <div class="frame bit1 membershipid">
                <input type="text" name="id" placeholder="Membership ID" value="{{id}}">
            </div>

            <hr>

            <div class="frame bit3 form-short">
                <input type="text" name="title" placeholder="Title" value="{{title}}">
                <input type="text" name="initials" value="{{initials}}" placeholder="Initials" id="initials">
            </div>

            <div class="frame bit3 form-birthday">
                <input type="date" name="birthday" value="{{birthday}}">
            </div>

            <div class="frame form-two">
                <input type="text" name="firstname" value="{{firstname}}" placeholder="First name">
                <input type="text" name="surname" value="{{surname}}" placeholder="Last name">
            </div>

            <hr>

            <div class="frame form-address">
                <input type="text" name="addressLine1" value="{{addressLine1}}" placeholder="Address line 1">
                <input type="text" name="addressLine2" value="{{addressLine2}}" placeholder="Address line 2">
                <input type="text" name="addressLine3" value="{{addressLine3}}" placeholder="Address line 3">
                <input type="text" name="addressLine4" value="{{addressLine4}}" placeholder="Address line 4">
                <input type="text" name="addressLine5" value="{{addressLine5}}" placeholder="Address line 5">
            </div>

            <div class="frame">
                <input type="text" name="postcode" value="{{postcode}}" placeholder="Postcode">
            </div>

            <hr>

            <div class="frame form-deliverer">
                <input type="text" name="deliverer" name="{{deliverer}}" placeholder="Deliverer">
            </div>

            <hr>

            <div class="frame form-three">
                <input type="text" name="homePhone" value="{{homePhone}}" placeholder="Home phone">
                <input type="text" name="mobilePhone" value="{{mobilePhone}}" placeholder="Mobile phone">
                <input type="text" name="workPhone" value="{{wordPhone}}" placeholder="Work phone">
            </div>

            <hr>

            <div class="frame form-emails">
                <input type="text" name="email1" value="{{email1}}" placeholder="Email Address 1">
                <input type="text" name="email2" value="{{email2}}" placeholder="Email Address 2">
                <div class="input-with-label">
                    <input type="checkbox" name="emailBounced" value="true" {{checked emailBounced}}><span id="label">Email bounced?</span>
                </div>
            </div>

            <hr>

            <div class="frame form-membership">
                <div class="input-with-label frame">
                    <input type="date" name="dateJoined" value="{{dateJoined}}"><span id="label">Date joined</span>
                </div>
                <div class="frame">
                    <select name="membershipType">
                        <option value="" disabled>Membership Type</option>
                        <option value="Annual Single" {{selected membershipType "Annual Single"}}>Annual Single</option>
                        <option value="Annual Double" {{selected membershipType "Annual Double"}}>Annual Double</option>
                        <option value="Annual Family" {{selected membershipType "Annual Family"}}>Annual Family</option>
                        <option value="Life Single" {{selected membershipType "Life Single"}}>Life Single</option>
                        <option value="Life Double" {{selected membershipType "Life Double"}}>Life Double</option>
                        <option value="Group Annual" {{selected membershipType "Group Annual"}}>Group Annual</option>
                        <option value="Corporate Annual" {{selected membershipType "Corporate Annual"}}>Corporate Annual</option>
                    </select>
                    <span id="label">Membership Type</span>
               </div>
                <div class="input-with-label frame">
                    <input type="date" name="dateMembershipTypeChanged" value="{{dateMembershipTypeChanged}}"><span id="label">Date membership joined</span>
                </div>
                <div class="input-with-label frame">
                    <input type="date" name="dateLifeMembershipPaid" value="{{dateLifeMembershipPaid}}"><span id="label">Date life membership paid</span>
                </div>
            </div>

            <hr>

            <div class="frame form-gad">

                <div class="input-with-label">
                    <input type="checkbox" name="gad" value="true" {{checked gad}}><span id="label">GAD</span>
                </div>

                <div class="input-with-label">
                    <input type="date" name="dateGadSigned" value="{{dateGadSigned}}"><span id="label">Date GAD Signed</span>
                </div>

                <div class="input-with-label">
                    <input type="date" name="dateGadCancelled" value="{{dateGadCancelled}}"><span id="label">Date GAD Cancelled</span>
                </div>
            </div>

            <hr>

            <div class="frame">
                <div class="input-with-label">
                    <input type="checkbox" name="paysByStandingOrder" value="true" {{checked paysByStandingOrder}}><span id="label">Pays by standing order</span>
                </div>
                <div class="input-with-label">
                    <input type="checkbox" name="onlineMember" value="true" {{checked onlineMember}}><span id="label">Online Member?</span>
                </div>
                <input type="textbox" name="membershipNotes" value="{{membershipNotes}}" placeholder="Notes on member">
            </div>
            <div class="frame form-submit">
                <input type="submit">
            </div>
        </form>
        {{/member}}

    </div>

</div>
