<div class="container-large">

    <h1>New Member Form</h1>

    {{#member}}
        <form action="/members/{{id}}/edit" method="post">

            <div class="topSectionDividor">
                <ul>
                    <li><h2>1. Profile</h2></li>
                </ul>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Member id</h3>
                    </div>
                    <input class="short" name="id" placeholder="Membership id" value="{{id}}">
                </div>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Full name*</h3>
                    </div>
                    <input class="short" name="firstName" placeholder="First name" value="{{firstName}}">
                </div>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <input class="short" name="lastName" placeholder="Last name" value="{{lastName}}">
                </div>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Title</h3>
                    </div>
                    <input class="short" name="title" placeholder="Title" value="{{title}}">
                </div>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Date of birthday</h3>
                    </div>
                    <input class="short" type="date" name="birthday" value="{{birthday}}">
                </div>
            </div>

            <div class="topSectionDividor">
                <ul>
                    <li><h2>2. Address</h2></li>
                </ul>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Address</h3>
                    </div>
                    <input class="short" name="address1" placeholder="Address line 1" value="{{address1}}">
                </div>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <input class="short" name="address2" placeholder="Address line 2" value="{{address2}}">
                </div>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <input class="short" name="address3" placeholder="Address line 3" value="{{address3}}">
                </div>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <input class="short" name="address4" placeholder="Address line 4" value="{{address4}}">
                </div>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>County</h3>
                    </div>
                    <input class="short-relative left" name="county" placeholder="County name" value="{{county}}">
                    <input class="short-relative right" name="postcode" placeholder="Postcode" value="{{postcode}}">
                </div>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Deliverer</h3>
                    </div>
                    <input class="short" name="deliverer" placeholder="Deliverer" value="{{deliverer}}">
                </div>
            </div>

            <div class="topSectionDividor">
                <ul>
                    <li><h2>3. Contact online</h2></li>
                </ul>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Home phone</h3>
                    </div>
                    <input class="short" name="homePhone" placeholder="Home phone" value="{{homePhone}}">
                </div>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Mobile phone</h3>
                    </div>
                    <input class="short" name="mobilePhone" placeholder="Mobile phone" value="{{mobilePhone}}">
                </div>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Work phone</h3>
                    </div>
                    <input class="short" name="workPhone" placeholder="Work phone" value="{{workPhone}}">
                </div>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Contact primary email</h3>
                    </div>
                    <input class="short" name="email1" placeholder="Primary email" value="{{email1}}">
                </div>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Contact secondary email</h3>
                    </div>
                    <input class="short" name="email2" placeholder="Secondary email" value="{{email2}}">
                </div>
            </div>


            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Email bounced?</h3>
                    </div>
                    <select name="emailBounced" class="short" style="color:#ccc;">
                        <option class="meta" value="" disabled="" selected="">Click to select</option>

                        <option value="true">Yes</option>
                        <option value="false">No</option>

                    </select>
                </div>
            </div>

            <div class="topSectionDividor">
                <ul>
                    <li><h2>4. Membership</h2></li>
                </ul>
            </div>


            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Membership type</h3>
                    </div>
                    <select name="membershipType" class="short" style="color:#ccc;">
                        <option class="meta" value="" disabled="" selected="">Click to select one</option>
                        <option value="Annual Single"    {{selected membershipType "Annual Single"   }}>Annual Single</option>
                        <option value="Annual Double"    {{selected membershipType "Annual Double"   }}>Annual Double</option>
                        <option value="Annual Family"    {{selected membershipType "Annual Family"   }}>Annual Family</option>
                        <option value="Life Single"      {{selected membershipType "Life Single"     }}>Life Single</option>
                        <option value="Life Double"      {{selected membershipType "Life Double"     }}>Life Double</option>
                        <option value="Group Annual"     {{selected membershipType "Group Annual"    }}>Group Annual</option>
                        <option value="Corporate Annual" {{selected membershipType "Corporate Annual"}}>Corporate Annual</option>
                    </select>
                </div>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Date joined</h3>
                    </div>
                    <input class="short" type="date" name="dateJoined" value="{{dateJoined}}">
                </div>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Date membership joined</h3>
                    </div>
                    <input class="short" type="date" name="dateTypeChanged" value="{{dateTypeChanged}}">
                </div>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Date life membership paid</h3>
                    </div>
                    <input class="short" type="date" name="lifePaymentDate" value="{{lifePaymentDate}}">
                </div>
            </div>


            <div class="topSectionDividor">
                <ul>
                    <li><h2>5. Gift aid</h2></li>
                </ul>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Gift aid</h3>
                    </div>
                    <input type="checkbox" name="giftAid" value="true" {{checked giftAid}}>
                    <!-- <select name="giftAid" class="short" style="color:#ccc;">
                        <option class="meta" value="" disabled="" selected="">Click to select</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select> -->
                </div>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Date gif aid signed</h3>
                    </div>
                    <input class="short" type="date" name="dateGiftAidSigned" value="{{dateGiftAidSigned}}">
                </div>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Date gif aid cancelled</h3>
                    </div>
                    <input class="short" type="date" name="dateGiftAidCancelled" value="{{dateGiftAidCancelled}}">
                </div>
            </div>

            <div class="topSectionDividor">
                <ul>
                    <li><h2>6. Payment info</h2></li>
                </ul>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Pays by standing order</h3>
                    </div>
                    <input type="checkbox" name="standingOrder" value="true" {{checked standingOrder}}>
                    <!-- <select name="standingOrder" class="short" style="color:#ccc;">
                        <option class="meta" value="" disabled="" selected="">Click to select</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select> -->
                </div>
            </div>


            <div class="topSectionDividor">
                <ul>
                    <li><h2>7. Other</h2></li>
                </ul>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Online Member</h3>
                    </div>
                    <input type="checkbox" name="onlineMember" value="true" {{checked onlineMember}}>
                    <!-- <select name="onlineMember" class="short" style="color:#ccc;">
                        <option class="meta" value="" disabled="" selected="">Click to select</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select> -->
                </div>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <div class="couterContainer">
                        <h3>Notes</h3>
                    </div>
                    <textarea name="membershipNotes" value="{{membershipNotes}}"></textarea>
                </div>
            </div>

            <div class="topSectionDividor">
                <ul>
                    <li><h2>8. Close</h2></li>
                </ul>
            </div>

            <div class="innerSectionContainer">
                <div class="inner-section-divider-medium">
                    <button id="save_person" class="btn-primary left btn-standard-width" type="submit">Save</button>
                    <a href="javascript:history.back();">
                        <button id="cancel_person" class="btn-secondary right btn-standard-width">Cancel</button>
                    </a>
                </div>
            </div>
        </form>
    {{/member}}
</div>