<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>  
    <body>
        <!-- Navbar here -->
        <ul class="navigation">
            <li><a href="/admin">Home</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/addmember">Add member</a></li>
            <li><a href="/maintenance">Date maintenance</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Emails</a></li>
        </ul>
        {{{ content }}}
        <footer>
        </footer>
        <script type="text/javascript" src="/js/bundle.js"></script>
    </body>
</html>