<div class="container-large">

	<div class="inner-section-divider-small"></div>

	<div class="section-label">
		<h1>Sign In</h1>
	</div>

	<div class="inner-section-divider-medium"></div>

	<div class="container-small">
		<form action="/login" method="post">

			<input type="text" name="email" tabindex=1 placeholder="Email adress">
			<div class="inner-section-divider-small"></div>
			<input type="password" name="password" tabindex=2 placeholder="Password">
			<div class="inner-section-divider-small"></div>
			<button type="submit" id="button_sign_in" class="btn-primary">Sign in</button>
		</form>
	</div>
</div>