<div class="full-screen-fixed">
    <!-- Navbar here -->
    <ul class="navigation">
        <li><a href="/admin">Home</a></li>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/addmember">Add member</a></li>
        <li><a href="/maintenance">Date maintenance</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Emails</a></li>
    </ul>
    <div class="overall-container-member">
        <div class="upload-container"></div>

        <!-- This id has style applied to it -->
        <div id="search-result"></div>
    </div>
</div>