<div class="new-member-container">
    <h1>New Member Form</h1>
    <form action="/api/members" method="post">

        <div class="topSectionDividor">
            <h2>1. Profile</h2>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <h3>Member id</h3>
                <input id="id" class="short" name="id">
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <h3>Full name*</h3>
                <input id="first-name" class="short" name="firstName" placeholder="First name">
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <input id="last-name" class="short" name="lastName" placeholder="Last name">
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Title</h3>
                </div>
                <input id="title" class="short" name="title">
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Date of birthday</h3>
                </div>
                <input id="birthday" class="short" type="date" name="birthday">
            </div>
        </div>

        <div class="topSectionDividor">
            <h2>2. Address</h2>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Address</h3>
                </div>
                <input id="address1" class="short" name="address1" placeholder="Address line 1">
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <input id="address2" class="short" name="address2" placeholder="Address line 2">
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <input id="address3" class="short" name="address3" placeholder="Address line 3">
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <input id="address4" class="short" name="address4" placeholder="Address line 4">
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>County</h3>
                </div>
                <input id="county" class="short-relative" name="county" placeholder="County name">
                <input id="postcode"class="short-relative" name="postcode" placeholder="Postcode">
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <h3>Deliverer</h3>
                <input id="deliverer" class="short" name="deliverer">
            </div>
        </div>

        <div class="topSectionDividor">
                <h2>3. Contact online</h2>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Home phone</h3>
                </div>
                <input id="homePhone" class="short" name="homePhone">
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Mobile phone</h3>
                </div>
                <input id="mobilePhone" class="short" name="mobilePhone">
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Work phone</h3>
                </div>
                <input id="mobilePhone" class="short" name="workPhone">
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Contact primary email</h3>
                </div>
                <input id="email1" class="short" name="email1">
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Contact secondary email</h3>
                </div>
                <input id="email2" class="short" name="email2">
            </div>
        </div>


        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <!-- <h3 class="left">Email bounced?</h3> -->

                 <div class="checkbox">
                    <input id="check1" type="checkbox" name="check1" value="check1">
                    <label for="check1"><h3 class="left">Email bounced?</h3></label>
                </div>

                <input type="checkbox" name="emailBounced" value="true">
                <!-- <select name="emailBounced" class="short" style="color:#ccc;">
                    <option class="meta" value="" disabled="" selected="">Click to select</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select> -->
            </div>
        </div>

        <div class="topSectionDividor">
            <h2>4. Membership</h2>
        </div>


        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Membership type</h3>
                </div>
                <select name="membershipType" class="short" style="color:#ccc;">
                    <option class="meta" value="" disabled="" selected="">Click to select one</option>
                    <option value="Annual Single">Annual Single</option>
                    <option value="Annual Double">Annual Double</option>
                    <option value="Annual Family">Annual Family</option>
                    <option value="Life Single">Life Single</option>
                    <option value="Life Double">Life Double</option>
                    <option value="Group Annual">Group Annual</option>
                    <option value="Corporate Annual">Corporate Annual</option>
                </select>
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Date joined</h3>
                </div>
                <input class="short" type="date" name="dateJoined">
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Date membership joined</h3>
                </div>
                <input class="short" type="date" name="dateTypeChanged">
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Date life membership paid</h3>
                </div>
                <input class="short" type="date" name="lifePaymentDate">
            </div>
        </div>


        <div class="topSectionDividor">
            <h2>5. Gift aid</h2>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="checkbox">
                    <input id="check2" type="checkbox" name="check2" value="check2">
                    <label for="check2"><h3 class="left">Gift aid</h3></label>
                </div>
                <!-- <select name="giftAid" class="short" style="color:#ccc;">
                    <option class="meta" value="" disabled="" selected="">Click to select</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select> -->
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Date gif aid signed</h3>
                </div>
                <input class="short" type="date" name="dateGiftAidSigned">
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Date gif aid cancelled</h3>
                </div>
                <input class="short" type="date" name="dateGiftAidCancelled">
            </div>
        </div>

        <div class="topSectionDividor">
            <h2>6. Payment info</h2>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="checkbox">
                    <input id="check3" type="checkbox" name="check3" value="check3">
                    <label for="check3"><h3 class="left">Pays by standing order</h3></label>
                </div>
                <!-- <select name="standingOrder" class="short" style="color:#ccc;">
                    <option class="meta" value="" disabled="" selected="">Click to select</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select> -->
            </div>
        </div>


        <div class="topSectionDividor">
            <h2>7. Other</h2>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                 <div class="checkbox">
                    <input id="check4" type="checkbox" name="check4" value="check4">
                    <label for="check4"><h3 class="left">Online Member</h3></label>
                </div>
                <!-- <select name="onlineMember" class="short" style="color:#ccc;">
                    <option class="meta" value="" disabled="" selected="">Click to select</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select> -->
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Notes</h3>
                </div>
                <textarea name="membershipNotes"></textarea>
            </div>
        </div>

        <div class="topSectionDividor">
            <h2>8. Close</h2>
        </div>
        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <button id="create-member-btn" class="button-one left" type="submit">Save</button>
                <a href="javascript:history.back();">
                    <button id="cancel_person" class="button-two right">Cancel</button>
                </a>
            </div>
        </div>
    </form>
</div>