<form action="/newmember" method="post">
	<p>New Member Form</p>
	<input type="text" name="title" value="title">
	<inpout type="text" name="initials" value="initials">
	<inpout type="text" name="firstname" value="First name">
	<inpout type="text" name="surname" value="Last name">
	<inpout type="text" name="Addressline1" value="Address line 1">
	<inpout type="text" name="addressline2" value="Address line 2">
	<inpout type="text" name="postcode" value="Postcode">
	<inpout type="text" name="homephone" value="Home phone">
	<inpout type="text" name="mobilephone" value="Mobile phone">
	<inpout type="text" name="workphone" value="Work phone">
	<inpout type="text" name="" value="dd">
	/
	<inpout type="text" name="" value="mm">
	/
	<input type="text" name="" value"yyyy">
	<input type="text" name="emailaddress" value= "Email address">
	<select name="membershiptype" value="Membership Type">
		<option value=""></option>
		<option value=""></option>
		<option value=""></option>
		<option value=""></option>
		<option value=""></option>
		<option value=""></option>
		<option value=""></option>
	</select>
	<input type="submit" >
</form>