
<div class="new-member-container">

    <div class="new-member-head">
        <a href="/admin">BACK</a>
        <h1>New Member Form</h1>
    </div>

    <div class="new-member-form bit50 frame">


        <form action="/addmember" method="post">

            <div class="frame bit1 membershipid">
                <input type="text" name="membershipId" placeholder="Membership ID">
            </div>

            <div class="frame bit3 form-short">
                <input type="text" name="title" placeholder="title">
                <input type="text" name="initials" placeholder="Initials">
            </div>

            <div class="frame bit3 form-birthday">
                <input type="date" name="birthday">
            </div>

            <div class="frame form-two">
                <input type="text" name="firstname" placeholder="First name">
                <input type="text" name="surname" placeholder="Last name">
            </div>

            <div class="frame form-address">
                <input type="text" name="addressline1" placeholder="Address line 1">
                <input type="text" name="addressline2" placeholder="Address line 2">
                <input type="text" name="addressline3" placeholder="Address line 3">
                <input type="text" name="addressline4" placeholder="Address line 4">
                <input type="text" name="addressline5" placeholder="Address line 5">
            </div>

            <div class="frame">
                <input type="text" name="postcode" placeholder="Postcode">
            </div>

            <div class="frame form-deliverer">
                <input type="text" name="deliverer" placeholder="Deliverer">
            </div>

            <div class="frame form-three">
                <input type="text" name="homephone" placeholder="Home phone">
                <input type="text" name="mobilephone" placeholder="Mobile phone">
                <input type="text" name="workphone" placeholder="Work phone">
            </div>


            <div class="frame form-emails">
                <input type="text" name="email1" placeholder="Email Address 1">
                <input type="text" name="email2" placeholder="Email Address 2">
                <div class="form-bounced">
                    <p>Email bounced?</p><input type="checkbox" name="emailBounced">
                </div>
            </div>

            <div class="frame">
                <select name="membershiptype" value="Membership Type">
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </div>

            <div class="frame form-submit">
                <input type="submit">
            </div>
        </form>

    </div>

</div>
