<div class="container-large">

    <h1>New Payment</h1>

    <form action="/payments" method="post">

        <div class="topSectionDividor">
            <ul>
                <li><h2>1. Member</h2></li>
            </ul>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Member id*</h3>
                </div>
                <input id="member-id" class="short" name="memberId" placeholder="Member id" value="{{ memberId }}">
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Date</h3>
                </div>
                <input id="payment-date" class="short" type="date" name="datePaid">
            </div>
        </div>

        <div class="topSectionDividor">
            <ul>
                <li><h2>2. Payment details</h2></li>
            </ul>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Payment type</h3>
                </div>
                <select id="payment-type" name="typeCode" class="short" style="color:#ccc;">
                    <option class="meta" value="" disabled="" selected="">Click to select</option>
                    {{#each types}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Subscription</h3>
                </div>
                <input id="subscription-amout" class="short" name="subscription" placeholder="Enter subscription amount">
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Donation</h3>
                </div>
                <input id="subscription-donation" class="short" name="donation" placeholder="Enter donation amount">
            </div>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Events</h3>
                </div>
                <input id="events-amount" class="short" name="events" placeholder="Enter event amount">
            </div>
        </div>

        <div class="topSectionDividor">
            <ul>
                <li><h2>3. Others</h2></li>
            </ul>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <div class="couterContainer">
                    <h3>Notes</h3>
                </div>
                <textarea name="notes"></textarea>
            </div>
        </div>

        <div class="topSectionDividor">
            <ul>
                <li><h2>4. Close</h2></li>
            </ul>
        </div>

        <div class="innerSectionContainer">
            <div class="inner-section-divider-medium">
                <button id="create-payment-btn" class="btn-primary left btn-standard-width" type="submit">Save</button>
                <a href="javascript:history.back();">
                    <button id="cancel_person" class="btn-secondary right btn-standard-width">Cancel</button>
                </a>
            </div>
        </div>
    </form>
</div>