<style type="text/css">
    .wrap {
        width: 100%;
        height: 300px;
        border: 1px solid #ccc;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .wrap table {
        width: 100%;
        table-layout: fixed;
    }

    table tr td {
        padding: 5px;
        border: 1px solid #ccc;
        width: 100px;
        word-wrap: break-word;
    }

    table.head tr td {
        background: #ccc;
    }

    .inner_table {
        height: 100px;
        overflow-y: auto;
    }

    .delete {
        background-color: #c9302c;
        text-align: center;
        width: 60px;
    }

    .edit {
        background-color: #f0ad4e;
        text-align: center;
        width: 60px;
    }

    .view {
        background-color: #6b6;
        text-align: center;
        width: 60px;
    }

    .delete a {
        text-decoration: none;
        color: #333;
        width: 100%;
        height: 100%;
        display: block;
    }

    .edit a {
        text-decoration: none;
        color: #333;
        width: 100%;
        height: 100%;
        display: block;
    }

    .view a {
        text-decoration: none;
        color: #333;
        width: 100%;
        height: 100%;
        display: block;
    }

    .delete-member {
        float: right;
        background-color: #c9302c;
        text-align: center;
        border: 1px solid #c9302c;
        text-decoration: none;
        color: #000;
        padding: 0.5em 1.5em;
        border-radius: 2px;
        margin: 0.5em;
        height: 3em;
        margin-top: 0px;
        color: #333;
    }

    .activate-member {
        float: right;
        background-color: #6b6;
        border: 1px solid #6b6;
        text-align: center;
        text-decoration: none;
        color: #000;
        padding: 0.5em 1.5em;
        border-radius: 2px;
        margin: 0.5em;
        height: 3em;
        margin-top: 0px;
        color: #333;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .width {
        width: 150px;
    }

    .amount-description {
        text-align: left;
        /*width: 35%;*/
        margin: 0;
        float: left;
        margin-top: 9px;
    }

    .amount {
        width: 65%;
        margin: 0;
        float: right;
        margin-right: 5%;
    }
</style>


<div class="show-member bit50">

    {{#member}}

        <div class="controls" style="margin-bottom:0px;">
            <a class="button" style="display:block;float:left;margin:0px;color:#333;" href="/members/{{ id }}/edit">Edit member</a>

            {{#if deleted}}
                <form class="button" action="/members/{{id}}/reactivate" method="POST">
                    <button class="activate-member" type="submit">Reactivate Member</button>
                </form>
            {{else}}
                <form class="button right" action="/members/{{id}}/delete" method="POST">
                    <select class="left width" name="deletionReason">
                        <option value="" disabled selected>Reason for Deletion</option>
                        <option value="deceased">Deceased</option>
                        <option value="notResponding">Did not respond to reminders</option>
                        <option value="duplicate">Duplicate</option>
                        <option value="dissatisfied">Expressed dissatisfaction</option>
                        <option value="mailReturned">Mail returned to us</option>
                        <option value="moved">Moved away</option>
                        <option value="notifiedTermination">Notified termination</option>
                        <option value="other">Other</option>
                    </select>
                    <button class="delete-member" type="submit">Delete Member</button>
                </form>
            {{/if}}
        </div>

        <div class="member-field">

            <div class="field">
                <p>Membership ID</p>
            </div>
            <div class="value">
                <p>{{id}}</p>
            </div>
        </div>

        <div class="member-field">
            <div class="field">
                <p>Membership Type</p>
            </div>
            <div class="value">
                <p>{{membershipType}}</p>
            </div>
        </div>

        <div class="member-field">
            <div class="field">
                <p>Date Membership Type Changed</p>
            </div>
            <div class="value">
                <p>{{dateMembershipTypeChanged}}</p>
            </div>
        </div>

        <div class="member-field">
            <div class="field">
                <p>Date Life Membership Paid</p>
            </div>
            <div class="value">
                <p>{{dateLifeMembershipPaid}}</p>
            </div>
        </div>

        <div class="member-field">

            <div class="field">
                <p>Name</p>
            </div>
            <div class="value">
                <p>{{title}}&nbsp;{{firstname}}&nbsp;{{initials}}&nbsp;{{surname}}</p>
            </div>
        </div>

        <div class="member-field">
            <div class="field">
                <p>Date of Birth</p>
            </div>
            <div class="value">
                <p>{{birthday}}</p>
            </div>
        </div>

        <div class="member-field">

            <div class="field">
                <p>Contact</p>
            </div>

            <div class="value">
                <p>{{addressLine1}}</p>
                <p>{{addressLine2}}</p>
                <p>{{addressLine3}}</p>
                <p>{{addressLine4}}</p>
                <p>{{addressLine5}}</p>
                <p>{{postcode}}</p>
                <br>
                <p>{{homePhone}}</p>
                <p>{{mobilePhone}}</p>
                <p>{{workPhone}}</p>
                <br>
                <p>{{email1}}</p>
                <p>{{email2}}</p>
                <p>Bounced? {{emailBounced}}</p>
            </div>
        </div>

        <div class="member-field">
            <div class="field">
                <p>Deliverer</p>
            </div>
            <div class="value">
                <p>{{deliverer}}</p>
            </div>
        </div>

        <div class="member-field">

            <div class="field">
                <p>GAD</p>
            </div>
            <div class="value">
                <p>{{gad}}</p>
            </div>
        </div>
            {{#if dateGadCancelled}}

        <div class="member-field">
            <div class="field">
                <p>Date GAD Cancelled</p>
            </div>
            <div class="value">
                <p>{{dateGadCancelled}}</p>
            </div>
        </div>
            {{/if}}
            {{#if dateGadSigned}}

        <div class="member-field">
            <div class="field">
                <p>Date GAD Signed</p>
            </div>
            <div class="value">
                <p>{{dateGadSigned}}</p>
            </div>
        </div>
            {{/if}}

        <div class="member-field">

            <div class="field">
                <p>Pays by Standing Order</p>
            </div>
            <div class="value">
                <p>{{paysByStandingOrder}}</p>
            </div>
        </div>

        <div class="member-field">
            <div class="field">
                <p>Online Member</p>
            </div>
            <div class="value">
                <p>{{onlineMember}}</p>
            </div>
        </div>

        <div class="member-field">
            <div class="field">
                <p>Membership Notes</p>
            </div>
            <div class="value">
                <p>{{membershipNotes}}</p>
            </div>
        </div>
    {{/member}}

    <div class="frame form-address" style="margin-top:10px;">
        <div class="amount-description">
            <h2>Payment history:</h1>
        </div>
        <div class="amount" style="margin:0px;">
            <a class="button" style="display:block;float:right;margin:0px;color:#333;margin-top:10px;" href="/members/{{ member.id }}/payments">Add payment</a>
        </div>
    </div>

    <div class="wrap">
        <table class="head">
            <tr>
                <td>Date</td>
                <td>Payment type</td>
                <td>Ref</td>
                <td>Subscription</td>
                <td style="width: 60px;text-align: center;"></td>
                <td style="width: 60px;text-align: center;"></td>
                <td style="width: 60px;text-align: center;"></td>
            </tr>
        </table>
        <div class="inner_table">
            <table>
                {{#each payments}}
                    <tr>
                        <td>{{this._source.datePaid}}</td>
                        <td>{{this._source.typeCode}}</td>
                        <td>{{this._source.listReference}}</td>
                        <td>{{this._source.subscription}}</td>
                        <td class="view"><a href="/members/{{../member.id}}/payments/{{this._id}}">View</a></td>
                        <td class="edit"><a href="/members/{{../member.id}}/payments/{{this._id}}">Edit</a></td>
                        <td class="delete"><a href="/{{this._source.notes}}">Delete</a></td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>

</div>
