<style type="text/css">
    .wrap {
        width: 100%;
        height: 300px;
        border: 1px solid #ccc;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .wrap table {
        width: 100%;
        table-layout: fixed;
    }

    table tr td {
        padding: 5px;
        border: 1px solid #ccc;
        width: 100px;
        word-wrap: break-word;
    }

    table.head tr td {
        background: #ccc;
    }

    .inner_table {
        height: 100px;
        overflow-y: auto;
    }
</style>


<div class="show-member bit50">

    <div class="controls">
        <a class="button" href="/members/{{ member.id }}/edit">Edit member</a>
        <a class="button" href="/members/{{ member.id }}/payments">Payment Record</a>
    </div>

    {{#member}}
        <div class="member-field">
            <p>Membership ID</p>
            <p>{{id}}</p>
            <br>
            <p>Membership Type</p>
            <p>{{membershipType}}</p>
            <br>
            <p>Date Membership Type Changed</p>
            <p>{{dateMembershipTypeChanged}}</p>
            <br>
            <p>Date Life Membership Paid</p>
            <p>{{dateLifeMembershipPaid}}</p>
        </div>

        <div class="member-field">
            <p>Name</p>
            <p>{{title}}&nbsp;{{firstname}}&nbsp;{{initials}}&nbsp;{{surname}}</p>
        </div>
        <div class="member-field">
            <p>Date of Birth</p>
            <p>{{birthday}}</p>
        </div>
        <div class="member-field">
            <p>Contact</p>
            <p>{{addressLine1}}</p>
            <p>{{addressLine2}}</p>
            <p>{{addressLine3}}</p>
            <p>{{addressLine4}}</p>
            <p>{{addressLine5}}</p>
            <p>{{postcode}}</p>
            <br>
            <p>{{homePhone}}</p>
            <p>{{mobilePhone}}</p>
            <p>{{workPhone}}</p>
            <br>
            <p>{{email1}}</p>
            <p>{{email2}}</p>
            <p>Bounced? {{emailBounced}}</p>
        </div>
        <div class="member-field">
            <p>Deliverer</p>
            <p>{{deliverer}}</p>
        </div>
        <div class="member-field">
            <p>GAD</p>
            <p>{{gad}}</p>
            {{#if dateGadCancelled}}
                <p>Date GAD Cancelled</p>
                <p>{{dateGadCancelled}}</p>
            {{/if}}
            {{#if dateGadSigned}}
                <p>Date GAD Signed</p>
                <p>{{dateGadSigned}}</p>
            {{/if}}
        </div>
        <div class="member-field">
            <p>Pays by Standing Order</p>
            <p>{{paysByStandingOrder}}</p>
            <p>Online Member</p>
            <p>{{onlineMember}}</p>
            <p>Membership Notes</p>
            <p>{{membershipNotes}}</p>
        </div>

        {{#if deleted}}
            <form action="/members/{{id}}/reactivate" method="POST">
                <input type="submit" value="Reactivate Member">
            </form>
        {{else}}
            <form action="/members/{{id}}/delete" method="POST">
                <select name="deletionReason">
                    <option value="" disabled selected>Reason for Deletion</option>
                    <option value="deceased">Deceased</option>
                    <option value="notResponding">Did not respond to reminders</option>
                    <option value="duplicate">Duplicate</option>
                    <option value="dissatisfied">Expressed dissatisfaction</option>
                    <option value="mailReturned">Mail returned to us</option>
                    <option value="moved">Moved away</option>
                    <option value="notifiedTermination">Notified termination</option>
                    <option value="other">Other</option>
                </select>
                <input type="submit" value="Delete Member">
            </form>
        {{/if}}
    {{/member}}

    <div class="wrap">
        <table class="head">
            <tr>
                <td>Date</td>
                <td>Payment type</td>
                <td>Ref</td>
                <td>Subscription</td>
                <td>Donation</td>
                <td>Events</td>
                <td>Notes</td>
            </tr>
        </table>
        <div class="inner_table">
            <table>
                {{#each payments}}
                    <tr>
                        <td>{{this._source.datePaid}}</td>
                        <td>{{this._source.typeCode}}</td>
                        <td>{{this._source.listReference}}</td>
                        <td>{{this._source.subscription}}</td>
                        <td>{{this._source.donation}}</td>
                        <td>{{this._source.events}}</td>
                        <td>{{this._source.notes}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>

</div>
