<div class="full-screen-fixed">
    <nav></nav>
    <div class="overall-container">
        <div class="content-container">
            <div class="individual-section">
                <div class="col-1">
                    <p>{{member.id}}</p>
                    <p>{{member.title}}&nbsp;{{member.firstName}}&nbsp;{{member.initials}}&nbsp;{{member.lastName}}</p>
                    <p>{{member.birthday}}</p>
                    <p><b>e1:</b> {{member.email1}}</p>
                    <p><b>e2:</b> {{member.email2}}</p>
                    <p><b>Bounced:</b> {{member.emailBounced}}</p>
                    <p><b>Online:</b> {{member.onlineMember}}</p>
                    <p><b>Status:</b> {{member.status}}</p>
                    <p>{{member.deletionDate}}</p>
                    <p>{{member.deletionReason}}</p>
                </div>
                <div class="col-2">
                    <p> {{member.address1}}<br>
                        {{member.address2}}<br>
                        {{member.address3}}<br>
                        {{member.address4}}<br>
                        {{member.county}}<br>
                        {{member.postcode}}<br>
                        {{member.deliverer}}<br>
                    </p>
                </div>
                <div class="col-3">
                    <p>{{member.dateJoined}}</p>
                    <p>{{member.membershipType}}</p>
                    <p>{{member.dateTypeChanged}}</p>
                    <p>{{member.lifePaymentDate}}</p>
                    <p>GiftAid: {{member.giftAid}}</p>
                    <p>{{member.dateGiftAidSigned}}</p>
                    <p>{{member.dateGiftAidCancelled}}</p>
                    <p>SO: {{member.standingOrder}}</p>
                </div>
            </div>
            <div id="table-payments">

                
               <!--  <div class="table-section-individual">
                    <div class="table-section-individual-header">
                        <div class="col-1">
                            <p>Date</p>
                        </div>
                        <div class="col-2">
                            <p>Description</p>
                        </div>
                        <div class="col-3">
                            <p>Cost £</p>
                        </div>
                        <div class="col-4">
                            <p>Due £</p>
                        </div>
                        <div class="col-5">
                            <p>Reference</p>
                        </div>
                        <div class="col-6">
                            <p>Notes</p>
                        </div>
                        <div class="col-7">
                            <p>Delete</p>
                        </div>
                    </div>
                    <div class="table-section-individual-rows">
                        <div class="row">
                            <div class="col-1">
                                <p>21/11/1990</p>
                            </div>
                            <div class="col-2">
                                <p>Events</p>
                            </div>
                            <div class="col-3">
                                <p>90 £</p>
                            </div>
                            <div class="col-4">
                                <p>100 £</p>
                            </div>
                            <div class="col-5">
                                <p>78942</p>
                            </div>
                            <div class="col-6">
                                <p>Hello world</p>
                            </div>
                            <div class="col-7">
                                <p>Click</p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="actions-container">
            <div class="refund-section"></div>
            <div class="add-donation-section"></div>
        </div>
    </div>
    <div class="enter-payment-section"></div>
    <p id="member-id" style="display:none">{{member.id}}</p>
    <p id="member-status" style="display:none">{{member.status}}</p>
    <p id="member-type" style="display:none">{{member.membershipType}}</p>
</div>
