div, body {
  background-color: #fcfcfc; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.no-margin {
  margin: 0; }

.margin-right {
  max-width: 700px; }

.left {
  float: left; }

.right {
  float: right; }

input[type=button] {
  background-color: #8d8;
  cursor: pointer; }

a.button {
  background-color: #8d8;
  border: 1px solid #8d8;
  text-decoration: none;
  color: #000;
  padding: 0.5em 1.5em;
  border-radius: 2px;
  margin: 0.5em; }

input {
  display: block;
  font-size: 1.0em;
  padding: 0.5em;
  box-sizing: border-box;
  width: 9em;
  border: 1px solid #ccc;
  border-radius: 2px;
  outline: 0;
  height: 3em; }

input[type=text], input[type=password] {
  background-color: #fff;
  color: #222;
  cursor: text; }
  input[type=text]:focus, input[type=password]:focus {
    background-color: #efe; }

input[type=date] {
  display: inline-block; }

input[type=submit] {
  text-align: center;
  background: #6b6;
  border: 1px solid #6b6;
  color: #fff;
  cursor: pointer;
  border-radius: 2px; }

select {
  height: 3em;
  width: 9em;
  padding: 0.5em; }

.new-member-container {
  overflow: auto;
  background-color: #fdfdfd;
  padding: 2em 1em; }

.new-member-head {
  text-align: center; }
  .new-member-head a {
    float: left; }

.input-with-label {
  display: inline-block;
  margin-left: 1em;
  margin-right: 40%;
  float: left; }
  .input-with-label input[type=date] {
    width: 10em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.5em; }
  .input-with-label input[type=checkbox] {
    width: 1.5em;
    display: inline-block;
    height: 1.5em;
    vertical-align: middle;
    margin-right: 1.5em; }

.new-member-form {
  text-align: center;
  margin-top: 4em;
  margin-left: 25%; }
  .new-member-form span#label {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8em; }
  .new-member-form input[type=date] {
    float: left;
    margin-right: 1em; }
  .new-member-form hr {
    margin-top: 1em;
    margin-bottom: 1.5em;
    background-color: #ccc;
    border: none;
    color: #ccc;
    height: 1px;
    width: 90%;
    margin-left: 2.5%; }
  .new-member-form input[type=text], .new-member-form select {
    float: left; }
  .new-member-form select {
    margin-left: 2em; }
  .new-member-form h1 {
    margin: 1em 0em; }
  .new-member-form .membershipid {
    width: 100%; }
    .new-member-form .membershipid input {
      width: 45%;
      margin-right: 55%; }
  .new-member-form .form-emails input[type=text] {
    width: 45%;
    margin-right: 5%; }
  .new-member-form .form-birthday input[type=date] {
    width: 80%; }
  .new-member-form .form-address input[type=text] {
    width: 95%; }
  .new-member-form .form-submit input {
    width: 7em;
    margin-right: auto;
    margin-left: auto; }
  .new-member-form .form-two input[type=text] {
    width: 45%;
    margin-right: 5%; }
  .new-member-form .form-three input[type=text] {
    width: 30%;
    margin-right: 3.3%; }
  .new-member-form .form-short {
    margin-right: 33.333333%; }
    .new-member-form .form-short input[type=text] {
      width: 30%;
      margin-right: 12.5%; }
      .new-member-form .form-short input[type=text]:nth-child(2) {
        width: 50%;
        margin-right: 0; }
  .new-member-form .frame {
    margin-bottom: 1em; }
    .new-member-form .frame input[type=text] {
      margin-bottom: 1em; }

.login-form {
  margin-top: 15em;
  margin-left: 37.5%; }
  .login-form input[type=text], .login-form input[type=password] {
    margin-bottom: 0.5em; }
  .login-form input[type=submit] {
    float: right;
    margin-right: 33.333%; }

.search-box input {
  float: left;
  margin-top: 1em; }
.search-box input[type=text] {
  width: 80%; }
.search-box input[type=submit] {
  width: 20%; }

.admin-home .header {
  text-align: center;
  margin-top: 4.5em; }
.admin-home .admin-controls {
  margin-top: 2em;
  margin-left: 25%; }

.navigation {
  width: 100%;
  overflow: auto;
  padding: 0.75em;
  margin-top: 0.5em; }
  .navigation a {
    background-color: #d88;
    text-decoration: none;
    color: #000;
    padding: 0.5em 1.5em;
    border-radius: 2px;
    border: 1px solid #d88;
    margin: 0.5em; }
  .navigation .left {
    float: left; }
  .navigation .right {
    float: right; }

.header {
  text-align: center;
  margin-top: 4.5em; }

.search-results {
  margin-left: 25%;
  margin-top: 2em; }

.single-result {
  padding: 2em 0em;
  clear: both;
  width: 90%;
  margin-left: 5%;
  border-bottom: 1px solid #ccc; }
  .single-result * {
    display: inline-block; }
  .single-result a {
    float: right;
    text-decoration: none;
    color: #000; }
  .single-result p {
    float: left;
    margin-right: 2em; }

.show-member {
  margin-top: 3em;
  margin-left: 25%; }
  .show-member .controls {
    height: 3em;
    width: 100%;
    margin-bottom: 2em;
    border-bottom: 1px solid #aaa; }

.member-field {
  width: 100%;
  margin-bottom: 2em;
  border-bottom: 1px solid #ccc; }

.frame {
  max-width: 100%; }
  .frame:after {
    content: "";
    display: table;
    clear: both; }

.bit25 {
  width: 25%; }

.bit75 {
  width: 75%; }

.bit50 {
  width: 50%; }

.bit1 {
  width: 100%; }

.bit2 {
  width: 50%; }

.bit3 {
  width: 33.33333%; }

.bit4 {
  width: 25%; }

.left {
  float: left; }

[class*='bit'] {
  float: left; }

@media (max-width: 30em) {
  .bit1 {
    width: 100%; }

  .bit2 {
    width: 100%; }

  .bit3 {
    width: 100%; }

  .bit4 {
    width: 100%; } }
@media (min-width: 30em) and (max-width: 50em) {
  .bit4 {
    width: 50%; }

  .bit1, .bit2, .bit3 {
    width: 100%; } }
@media (min-width: 50em) and (max-width: 68.75em) {
  .bit2 {
    width: 100%; }

  .bit4 {
    width: 50%; } }

/*# sourceMappingURL=main.css.map */
