.search-results {
  margin-left: 25%;
  margin-top: 2em;}

.single-result {
  padding: 2em 0em;
  clear: both;
  width: 90%;
  margin-left: 5%;
  border-bottom: 1px solid #ccc;
  * {
    display: inline-block}
  a {
    float: right;
    text-decoration: none;
    color: #000;}
  p {
    float: left;
    margin-right: 2em; }}
