.show-member {
  margin-top: 3em;
  margin-left: 25%;
  .controls {
    height: 3em;
    width: 100%;
    margin-bottom: 1em;
    border-bottom: 1px solid #aaa; }}


.member-field {
  width: 100%;
  overflow: auto;
  border-bottom: 1px solid #ccc;}


.field {
  float: left;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.value {
  float: right;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: right;
}
