.show-member {
  margin-top: 3em;
  margin-left: 25%;
  .controls {
    height: 3em;
    width: 100%;
    margin-bottom: 2em;
    border-bottom: 1px solid #aaa; }}

.member-field {
  width: 100%;
  margin-bottom: 2em;
  border-bottom: 1px solid #ccc;}
