.frame {
  max-width: 100%;
  &:after {
    content: "";
    display: table;
    clear: both; } }

.bit25 {
  width: 25%; }

.bit75 {
  width: 75%; }

.bit50 {
  width: 50%; }

.bit1 {
  width: 100%; }

.bit2 {
  width: 50%; }

.bit3 {
  width: 33.33333%; }

.bit4 {
  width: 25%; }

.left {
  float: left; }

.right {
  float: right; }

.mr5 {
  margin-right: 5%; }

.ml5 {
  margin-right: 5%; }

.pr5 {
  padding-right: 1em; }

.pl5 {
  padding-left: 1em; }

[class*='bit'] {
  float: left; }

@media (max-width: 30em) {
  .bit1 {
    width: 100%; }
  .bit2 {
    width: 100%; }
  .bit3 {
    width: 100%; }
  .bit4 {
    width: 100%; } }

@media (min-width: 30em) and (max-width: 50em) {
  .bit4 {
    width: 50%; }
  .bit1, .bit2, .bit3 {
    width: 100%; } }

@media (min-width: 50em) and (max-width: 68.75em) {
  .bit2 {
    width: 100%; }
  .bit4 {
    width: 50%; } }
